.meals {
    width: 92%;
    max-width: 75rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin: 4rem auto 3rem auto;
    list-style: none;
    padding: 0;
}
