.header-background {
    position: absolute;
    width: 100%;
    height: 360px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}

.header-background svg {
    display: block;
    width: 100%;
    height: auto;
}
